body {
    padding-top: 50px;
}

#headerWrapper {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 38rem;
    background-image: url(../images/headerlogo/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

#logotext {
    position: absolute;
    width: 38%;
    height: 5rem;
    /* background-image: url(../images/headerlogo/text2.png); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 25rem;
}

#logotext img {
    width: 100%;
}

#fore-flower {
    position: absolute;
    width: 30%;
    height: 6rem;
    top: 80%;
    left: 83%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#fore-flower img {
    width: 100%;
}